* {
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
    font-weight: 600;
}

.left {
    background-color: rgb(23, 11, 41);
    width: 25%;
    float: left;
    height: auto;
    color: white;
    overflow-y: scroll;

}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid rgb(60, 56, 65) 10px;
    border-radius: 80px;
}

.left_top {
    padding-top: 20px;
}

.left_bottom {
    margin-bottom: 25px;
}

.left_bottom a {
    display: block;
    margin-left: 20px;
    line-height: 4;
    font-size: large;

}

.social_icons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;

}

#social {
    border: solid 15px rgba(61, 60, 70, 0.6);
    border-radius: 40px;

}

#social:hover {
    background-color: rgb(12, 138, 241);
}

.full_name {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}


.right {

    width: 75%;
    float: left;

}

.home_image {
    position: absolute;
    width: 949px;
    z-index: -2;
    opacity: 0.6;
}

.right_home_name {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    padding-top: 200px;
    color: antiquewhite;
}

.right_home_job {
    color: antiquewhite;
    font-size: 40px;
    padding-top: 15px;
    text-align: center;

}